{
    "plugins": [
      ["module-resolver", {
        "root": ["./src"],
        "alias": {
          "icons": "./assets/icons", 
          "animations" : "./animations",
          "components" : "./components",
          "styles" : "./styles",
          "utils" : "./utils",
          "hooks" : "./hooks"
        }
      }]
    ]
}